moviepy
SpeechRecognition
pydub
openai
python-dotenv
yt-dlp
torch
transformers
whisper 
chromadb
tqdm
langchain_community
llama-index-core
llama-index-embeddings-openai
llama-index-vector-stores-chroma
llama-index-llms-langchain